@import '~styles.scss';

$responsive-card-table-content-bg: $light-gray;
$responsive-card-table-border: 3px solid $dark-gray;
$responsive-card-table-border-radius: 8px;

.box > h5 {
  color: lighten($dark, 25%);
  margin-bottom: 2em;
  margin-top: 2em;
  
}
.box > h2 {
  color: $title-color;
}
.box {
  background: $light-gray;//$responsive-card-table-content-bg;
  border: $responsive-card-table-border;
  border-radius: $responsive-card-table-border-radius;
}
.cell > a {
  color: $title-color;
}
.product-filters {
  padding: 0.5rem 1.5rem;
  background-color: $white;
  margin-top: 2.5rem;

  label {
    color: darken($title-color, 25%);
  }

  .menu.nested {
    margin-left: 0rem; 
    margin-bottom: 0.9rem;
  }

  .menu > li > a {
    padding-left: 0;
    color: darken($dark-gray, 25%);
    font-size: 0.85rem;
    font-weight: 600;
  }

  .is-accordion-submenu-parent > a::after {
    border-color: $medium-gray transparent transparent;
  }

  .clear-all {
    font-size: 0.9rem;
    color: $medium-gray;
  }

  .more {
    color: $primary-color; 
    font-size: 0.9rem;
    cursor: pointer;
  }

}

.product-filters-header {
  font-size: 1.25rem;
  padding-top: 0.5rem;
  color: darken($dark-gray, 25%);
}
/*
.product-filters-tab {
  
}

.product-filters-tab:last-child() {
  
}
*/
.mobile-product-filters {
  border-bottom: 1px solid $light-gray;
}
mat-table {
  width: 100%;
}

//Table

$responsive-card-table-bottom-gap: 1.5rem;
$responsive-card-table-border: 3px solid white;
$responsive-card-table-stack-point: 640px;
$responsive-card-table-label-bg: white;
$title-color: #E14658;
$responsive-card-table-content-bg: #F1F1F1;
$responsive-card-table-border-radius: 8px;

.responsive-card-table {
  border-collapse: collapse;

  &.unstriped tbody {
    background-color: transparent;
  }

  th {
    background-color: $responsive-card-table-label-bg;
    color: $title-color;
  }

  tr,
  th,
  td {
    border: $responsive-card-table-border;
    border-radius: $responsive-card-table-border-radius;
    
  }
  td {
    background-color: $responsive-card-table-content-bg;
  }

  @media screen and (max-width: $responsive-card-table-stack-point) {
    thead tr {
      position: absolute;
      top: -9999em;
      left: -9999em;
    }

    tr {
      border: $responsive-card-table-border;
      display: block;
    }

    tr + tr {
      margin-top: $responsive-card-table-bottom-gap;
    }
    /* Get table cells to act like rows */

    td {
      border: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-bottom: $responsive-card-table-border;
      padding-left: 50%;
      position: relative;

      &:before {
        content: attr(data-label);
        display: inline-block;
        font-weight: bold;
        line-height: 1.5;
        margin-left: -100%;
        width: 100%;
        position: relative;
        z-index: 1;
        color: $title-color;
        
      }

      &:after {
        content: '';
        position: absolute;
        background: $responsive-card-table-label-bg;
        width: 45%;
        height: 95%;
        left: 1px;
        top: 1px;
        z-index: 0;
      }
    }
  }
}