<!-- hero home page -->

<div class="full-width-testimonial">

  <div class="full-width-testimonial-section">
    <div class="full-width-testimonial-icon text-center">

    </div>

    <div class="full-width-testimonial-content">

      <h5 class="full-width-testimonial-text">
        Atelier Artists’ Acrylics offers a broad range of quality Acrylic paints and mediums that will support your
        diverse acrylic painting requirements.
      </h5>

      <p class="full-width-testimonial-source">Gavin Newman</p>

      <span class="full-width-testimonial-source-context">
        Atelier Family of Products
      </span>


      <div id="preview">
        <ul id="previewPane" class="medium-block-grid-3 large-block-grid-4">

        </ul>
      </div>
    </div>
  </div>
</div>