<div class="mobile-nav-bar title-bar align-spaced">
  <div class="title-bar-left">
    <a class="title-bar-text fi-list" data-open="offCanvasLeftOverlap" href="#"></a>
  </div>
  <!--Welcome-->
  <div class="title-bar-center text-center" id="nameLabel">
    <li>
      <h3 class="title-bar-text" id="nameTitle">Welcome Visitor</h3>
    </li>
    <li>
      <button id="buttonTheme" class="fi-background-color"></button>
    </li>

  </div>
  <div class="title-bar-right">
    <a class="title-bar-text fi-thumbnails" data-open="offCanvas_login" href="#"></a>
  </div>

</div>
<!--Progress Bar-->
<div class="success progress text-center" id="myBar" role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0"
  aria-valuemax="100">
  <div class="progress-meter" style="width: 1%;">
  </div>
</div>
